@font-face {
    font-family: "BaiJamjuree";
    src: url("../../assets/fonts/BaiJamjuree-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "BaiJamjuree";
    src: url("../../assets/fonts/BaiJamjuree-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "BaiJamjuree";
    src: url("../../assets/fonts/BaiJamjuree-Bold.ttf") format("truetype");
    font-weight: 800;
}

:root {
    --Strong-Cyan: #26baa4;
    --Strong-Cyan-shadow: #1b8f7ec4;
    --Light-Blue: #6173ff;
    --Light-Blue-shadow: #3e4dbec4;
    --Dark-Grayish-Blue: #4c545d;
    --Grayish-Blue: #9fabb2;
    --White: #ffffff;
    --OffWhite-footer-bg: #e8e8e868;
    --BaiJamjuree: "BaiJamjuree", sans-serif;
}

body {
    font-family: "BaiJamjuree", sans-serif;
    background: url('../../assets/images/bg-header-mobile.png') center top no-repeat;
    background-size: contain;
}

.section-one__paragraph,
.mid-section__text,
.section-two__text,
.section-three__text,
.clipboard__text {
    color: var(--Grayish-Blue);
    font-size: .96rem;
    line-height: 25px;
}

.section-one__button-ios,
.clipboard__button-ios,
.clipboard__button-mac,
.section-one__button-mac {
    background-color: var(--Strong-Cyan);
    color: var(--White);
    box-shadow: 0px 3px 0 var(--Strong-Cyan-shadow),
        0px 3px 15px var(--Strong-Cyan-shadow);
    font-size: 1.1rem;
    padding: .8rem;
    transition: opacity .2s ease, scale .2s ease;
    max-width: 400px;
    margin: auto;
}

.section-one__button-ios:hover,
.clipboard__button-ios:hover,
.clipboard__button-mac:hover,
.section-one__button-mac:hover {
    opacity: .6;
    scale: 1.02;
}

.section-one__button-mac,
.clipboard__button-mac {
    background-color: var(--Light-Blue);
    box-shadow: 0px 3px 0 var(--Light-Blue-shadow),
        0px 3px 15px var(--Light-Blue-shadow);
}

.mid-section {
    gap: 1rem;
    margin-top: 4.5rem;
}

.mid-section__title,
.section-two__headings,
.clipboard__title {
    font-size: 1.7rem;
    line-height: 32px;
    font-weight: 800;
}

.section-two {
    gap: 3.25rem;
}

.section-two__headings {
    font-size: 1.5rem;
}

.section-three__titles {
    font-size: 1.5rem;
    font-weight: 800;
}

.companies img {
    width: 120px;
}

.footer {
    background-color: var(--OffWhite-footer-bg);
}

.footer__link {
    font-size: 1.1rem;
    transition: color .2s ease;
}

.footer__link:hover {
    color: var(--Strong-Cyan);
}

.facebook-icon,
.twitter-icon,
.instagram-icon {
    background: url('../../assets/images/icon-facebook.svg') center center no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: scale .2s ease, background .2s ease;
}

.twitter-icon {
    background: url('../../assets/images/icon-twitter.svg') center center no-repeat;
}

.instagram-icon {
    background: url('../../assets/images/icon-instagram.svg') center center no-repeat;
}

.facebook-icon:hover,
.twitter-icon:hover,
.instagram-icon:hover {
    scale: 1.1;
}

.facebook-icon:hover {
    background: url('../../assets/images/icon-facebook-green.svg') center center no-repeat;
}

.twitter-icon:hover {
    background: url('../../assets/images/icon-twitter-green.svg') center center no-repeat;
}

.instagram-icon:hover {
    background: url('../../assets/images/icon-instagram-green.svg') center center no-repeat;
}



@media screen and (min-width: 1024px) {
    body {
        background: url('../../assets/images/bg-header-desktop.png') center top no-repeat;
        background-size: contain;
    }

    .section-one__title {
        font-size: 3rem;
    }

    .section-one__paragraph,
    .mid-section__text,
    .clipboard__text {
        font-size: 1.25rem;
        line-height: 30px;
    }

    .section-one__button-ios,
    .clipboard__button-ios,
    .clipboard__button-mac,
    .section-one__button-mac {
        padding: 1rem;

    }

    .mid-section {
        gap: 1.75rem;
        margin-top: 4.5rem;
    }

    .mid-section__title,
    .clipboard__title {
        font-size: 2.25rem;
    }

    .section-two {
        margin-top: 3rem;
        grid-template-columns: 1.4fr 1fr;
        grid-template-rows: 0fr repeat(3, auto) .75fr;
        gap: 3rem 5rem;
    }

    .section-two__text {
        line-height: 32px;
    }

    .section-two img {
        transform: translateX(-35px);
    }

    .section-three {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }

    .section-three__titles {
        font-size: 1.5rem;
        font-weight: 800;
    }

    .section-three__text {
        font-size: 1.1rem;
    }

    .companies img {
        width: 150px;
    }

    br {
        display: none;
    }

    .footer {
        padding: 2.25rem 5rem 2.25rem 7rem;
    }

    .footer__link {
        font-size: 1.1rem;
    }
}